body {
  font-family: Tahoma;
  font-size: 13px;
}

table {
  width: 100%;
  white-space: nowrap;
  padding: 20px;
  border-style: solid;
  border-color: #d0d0ff;
  border-width: 10px;
  border-spacing: 0px;
}

tr.header {
  text-align: left;
}

th.center {
  text-align: center;
}

td.center {
  text-align: center;
  
}

td.body_css2 {
  font-weight: bold;
  border-style: solid;
  border-top-color: #000000;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
  border-left-color: #ffffff;
  border-top-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

div.body_css2 {
  text-align: center;
}
